body{

    background-color: rgb(174, 248, 248);
    border: 10px solid pink;
   
}

div{
    border-radius: 10px;
    border: 10px dotted pink;

    margin: 50px;
    padding: 80px;
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    font-size:larger;
   
}

.content-link{
    color: darkblue;
}
.content-link:hover{
    letter-spacing: 5px;
    }

    h1{
        font-family: fantasy;

    }
